.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-100;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    &-card {
        background-color: #ffffff;
        padding: 28px;
        border-radius: 0.75rem;
        overflow: hidden;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        border-bottom-right-radius: 60px;
    }
}
