@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html,
body,
#root {
    width: 100%;
    height: 100%;
}

html,
body{
    overflow-x: hidden;
}

ul,
ol,
li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

#root {
    font-family: $main-font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
}