// Font family
$main-font: 'Poppins', sans-serif;

// Font weights
$font-regular-italic: 400;
$font-bold: 700;
$font-extra-bold-italic: 800;

// Colors — Primary
$purple-500: hsl(259, 100%, 65%);
$red-400: hsl(0, 100%, 67%);

// Colors — Neutral
$white: hsl(0, 100%, 100%);
$grey-100: hsl(0, 0%, 94%);
$grey-200: hsl(0, 0%, 86%);
$grey-500: hsl(0, 1%, 44%);
$black: hsl(0, 0%, 0%);
